.midten {
  text-align: center;
 }

 .panel_color{
   background_color: lightgrey!important;

 }


#page-wrap {
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
}

.litenMargin{
  margin-bottom: 0;
  border-radius: 0;
}
.overskrift{
  vertical-align: middle;
}

.firkant {
  border-radius: 0;
}

.navbar-brand{
  height:70px!important;
}

.loader {
    border: 0.5em solid #f3f3f3; /* Light grey */
    border-top: 0.5em solid #3498db; /* Blue */
    border-radius: 50%;
    width: 5em;
    height: 5em;
    
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Gjør det lettere å velge de siste elementene i listen */
#scrollForbiBunnen{
  height:30em;
}




