
.midten {
  text-align: center;
 }
.nav-tabs>li>a{
  background-color: #F5F5F5;
  border-color: #DDDDDD;
}
.btn-default{
  background-color: #F5F5F5;
  border-color: #DDDDDD;
}

#page-wrap {
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
}

.litenMargin{
  margin-bottom: 0;
  border-radius: 0;
}

.firkant {
  border-radius: 0;
}

.navbar-brand{
  height:70px!important;
  letter-spacing: 1px;

}

.loader {
    border: 0.5em solid #f3f3f3; /* Light grey */
    border-top: 0.5em solid #3498db; /* Blue */
    border-radius: 50%;
    width: 5em;
    height: 5em;
    
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Gjør det lettere å velge de siste elementene i listen */
#scrollForbiBunnen{
  height:30em;
}

body{
  font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-toggle {
  padding-top: 20px;
}


@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 12px;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 1px;
    
}
.navbar-nav>li>a:hover {
  padding-top:5px;
  margin-top: 20px;
    background: #333333!important;
    color: #B7B7B7!important;
}
}









