

<div class="col-xs-12 col-sm-12">
<h1>Info</h1>
<p> Her finner du informasjon, hjelp og tips om denne applikasjonen. </p>
</div>
<div class="col-sm-12 col-xs-12"><hr></div>
<div class="col-xs-12 col-sm-12"> 
    <div class="col-xs-12 col-sm-4">
        <div class="list-group">
            <a routerLink="/info/omapplikasjon" class="list-group-item" [routerLinkActive]="['active']">
                Om applikasjonen
            </a>
            <a routerLink="/info/velgeskoler" class="list-group-item" [routerLinkActive]="['active']">
                Velg skoler
            </a>
            <a routerLink="/info/lagring"  class="list-group-item" [routerLinkActive]="['active']">
                Lagring
            </a>
            <a routerLink="/info/lastnedkalender" class="list-group-item" [routerLinkActive]="['active']">
                Last ned kalender
            </a>
            <a routerLink="/info/varsling" class="list-group-item" [routerLinkActive]="['active']">
                Varslinger
            </a>
        </div>
    </div>
    <div class ="col-xs-12 col-sm-8">
        <router-outlet></router-outlet>
    </div>
</div>

