<p>
    Du kan få varslinger 7 dager før planleggingsdager eller ferier. 
    Etter at du har valgt skoler, så trykker du på "Abonner på varslinger" knappen for å få varslinger for de skolene du har valgt.
    En varslingen vil bli mottat så lenge nettleseren kjører i bakgrunnen eller neste gang du starter nettleseren. 
    For å benytte denne type varslinger så må man bruke en av følgende nettlesere:</p>
    <ul>
        <li>Chrome: 50+</li>
        <li>Firefox: 44+</li>
        <li>Opera Mobile: 37+</li>
    </ul>
    <p> Varslinger er ikke støttet på Android og ios.</p>
    <p> **Chrome versjon 54 på macos har en bug som hindrer abonnering på varsler, men dette skal være fikset i chrome versjon 55. </p>

    <br>
    <h4><b> Bildet under viser et eksempel på en varsling:</b></h4>
    <img class="col-xs-12 col-sm-12" src="/app/info/images/varsling-eksempel.png" alt="">


    