<p> 
    Du kan laste ned skoleruten(e) for valgt skole(r) ned til din private kalender. 
    Dette fungerer kun når skoler er valgt og "Vis Skolerute" er trykket på.
    Altså når en på "vis kalender/liste"-siden. Ved å trykke på "Last ned kalender"-knappen vil en .ics fil lastes ned til 
    din enhet. Denne filen kan importeres inn i din private kalender (Google, Applekalender, Outlook osv.). 
    Hvordan filen importeres kan finnes på nettet, ved å google "importere .ics fil" + type kalender (Google, Outlook, osv.) 
    vil en få opp en rekke oppskrifter på hvordan filen kan importeres. 
</p>