<p>
    Du kan velge skoler enten ved å bruke søkefunksjonen eller ved å velge i listen.
    Det er ingen begrensning på hvor mange skoler som kan velges, og valgte skoler kan fjernes i etterkant. 
    Hvis du ikke husker navnet på skolen kan listen sorteres etter avstand fra der du befinner deg akkurat nå. 
    Dette krever at applikasjonen får tilgang til din posisjon i nettleseren. Under finner du linker til hvordan
    man kan dele tillate deling av posisjon på noen populære nettlesere:
</p>
<ul>
        <li><a href="https://support.google.com/chrome/answer/142065?hl=no"><b>Chrome</b></a></li>
        <li><a href=" https://www.mozilla.org/nb-NO/firefox/geolocation/"><b>Firefox</b></a></li>
        <li><a href="https://support.apple.com/no-no/HT204690"><b>Safari</b></a></li>
         <li><a href="http://help.opera.com/Windows/12.10/en/geolocation.html"><b>Opera</b></a></li>
</ul>

<br>
<p class="lead">Bildet under beskriver noen av komponentene som inngår i siden:</p>
<img class="col-xs-12 col-sm-12" src="/app/info/images/velg-skole.png" alt="">
<div id="scrollForbiBunnen"class="col-xs-12 col-sm-12"></div>
