<p> 
    Last ned kalender funksjonen fungerer kun når skoler er valgt og "Vis Skolerute" er trykket på.
    Altså når en inne i vis kalender/liste bildet. Ved å laste ned kalenderen vil en .ics fil lastes ned til 
    din enhet. Denne filen kan importeres inn i din private kalender (Google, Applekalender, Outlook osv.). 
    Fridagene for valgte skoler vil da legge seg inn i din private kalender. Det er for øyeblikket ikke 
    satt på varsling på fridagene, men dette kan gjøres manuelt inne i din private kalender. 
    Hvordan filen importeres kan finnes på nettet, ved å google "importere .ics fil" + type kalender (Google,osv) 
    vil en få opp en rekke oppskrifter på hvordan filen kan importeres. 
</p>