<p> 
    Du kan laste ned skoleruten(e) for valgt skole(r) ned til din private kalender. 
    Dette fungerer kun når skoler er valgt og "Vis Skolerute" er trykket på.
    Altså når en på "vis kalender/liste"-siden. Ved å trykke på "Last ned kalender"-knappen vil en .ics fil lastes ned til 
    din enhet. Denne filen kan importeres inn i din private kalender (Google, Applekalender, Outlook osv.). 
    <br>
    Her er noen sider som viser hvordan filen importeres i: 
    <br>
</p>

<ul>
    <li> <a href="https://support.office.com/nb-no/article/Importer-eller-abonner-p%25C3%25A5-en-kalender-i-Outlook-com-eller-Outlook-p%25C3%25A5-nettet-cff1429c-5af6-41ec-a5b4-74f2c278e98c?ui=nb-NO&rs=nb-NO&ad=NO&fromAR=3" target="_blank"><b> Microsoftkalender (Outlook)</b></a></li>
    <li><a href="https://support.google.com/calendar/answer/37118?hl=no" target="_blank"><b> Googlekalender</b></a></li> 
</ul>

Hvis du har en kalender på enheten du lastet ned filen er det mulig å trykke på filen. Den skal da importere seg automatisk 
inn i din kalender. Hvis dette ikke fungerer kan du bruke en av oppskriftene i linkene ovenfor. Hvis du ikke finner din type
kalender i listen ovenfor vil ett raskt Googlesøk kunne avdekke hvordan en ics-fil importeres inn i din kalender. 

<p>
    <br>
    Hvis du bruker Safari kan det hende at filen laster seg ned automatisk som "unkown". Du må da finne filen på din enhet,
    og endre navnet på filen til "xxx.ics", hvor xxx velges fritt, viktigste er .ics, feks skolerute.ics.
</p>