<!-- script for å hente klient posisjon ved hjelp av jquery og googles geolocation api -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>
$.ajax({
   url: 'https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDqZEXqM2C050o7yzkyJx57bHp6i4AgXn0',  //Denne nøkkellen er begrenset til 10000 requests pr dag.
   data: JSON.stringify({ "considerIp": "true" }),
   type: 'POST',
   contentType: 'application/json',
   success: function(data) {
     if(data.location) {
       alert(data.location.lat + ', ' + data.location.lng);
     } else {
       alert('not found');
     }
   }
 });
</script>
<!-- Viser infotekst og søkefelt -->
<div class="jumbotron">
    <p id="infotekst">Finn skoleruter for alle barne- og ungdoms-skoler i Stavanger- og Gjesdal- kommune.
        Velg skoler ved bruk av søkefeltet nedenfor eller ved å trykke på de skolene du er interessert i ved å velge
        fra listen.
    </p>
    <div id="sokeFeltDiv" class="col-sm-offset-3 col-sm-6 col-xs-12">
      <i class="glyphicon glyphicon-search"></i>
      <input type="text"
           id="sokefelt"
           class="form-control "
           placeholder=" Søk eller velg fra listen under . . ."
          [(ngModel)]="skolenavn" />
    </div>
</div>

<!-- Knapp for sortering av liste -->
<div  class="valgteSkolerListe col-xs-offset-6 col-xs-6 col-sm-offset-6 col-sm-4 col-md-offset-6 col-md-4 col-lg-offset-5 col-lg-3">
  <button id="sorterKnapp" class="btn btn-danger knapp col-xs-12" (click)="fjernValgteSkoler()"><b>Sorter etter nærmeste</b></button>
</div>

<!-- Viser knapper(Vis Skolerute og fjernSkole) og de valgte skolene -->
<div *ngIf="skoleruteKnapp">
  <div  class="valgteSkolerListe col-xs-offset-6 col-xs-6 col-sm-offset-6 col-sm-4 col-md-offset-6 col-md-4 col-lg-offset-5 col-lg-3">
    <div *ngFor="let skole of skoler">
      <div  class="btn btn-info col-xs-12 " *ngIf="skole.TrykketPa" (click) ="leggTilSkole(skole)">
        <p class="valgteSkoler" >{{skole.skole}}</p>
        <span class="glyphicon glyphicon-trash soppelkasse" ></span>
      </div>
    </div>
      <button class="btn btn-danger knapp col-xs-6" (click)="fjernValgteSkoler()"><b>Fjern Valg</b></button>
      <button class="btn btn-success knapp col-xs-6" (click)="gaVidereTilSkoleruter()"><b>Vis Skolerute</b></button>
  </div>

</div>

<!-- Viser liste med skoler -->
<div class="list-group col-sm-offset-3 col-sm-6 col-xs-12">
  <div *ngFor="let skole of skoler | skoleListeFilter: skolenavn">
      <p *ngIf="!skole.TrykketPa" class="list-group-item liste" (click) ="leggTilSkole(skole)">
        {{skole.skole}}</p>
  </div>
</div>




<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
