<div class="jumbotron">
  <div class="container">
    <p id="infotekst">Finn skoleruter for alle barne- og ungdoms-skoler i Stavanger- og Gjesdal- kommune.
        Velg skoler ved bruk av søkefeltet nedenfor eller ved å trykke på de skolene du er interessert i ved å velge
        fra listen.
    </p>

    <div id="sokeFeltDiv" class="col-md-offset-3 col-md-6 col-xs-12">
    <i class="glyphicon glyphicon-search"></i>
    <input type="text"
           id="sokefelt"
           class="form-control "
           placeholder=" Søk eller velg fra listen under . . ."
          [(ngModel)]="skolenavn" />
    </div>




  </div>
</div>














    <div class="list-group col-md-offset-3 col-md-6 col-xs-12" >
        <div>
          <div *ngFor="let skole of skoler | skoleListeFilter: skolenavn"
              (click) ="leggTilSkole(skole)">
              <p *ngIf="!skole.TrykketPa" class="list-group-item firkant liste" >
              {{skole.skole}}</p>
              <p *ngIf="skole.TrykketPa"class="list-group-item active firkant right-inner-addon elementTrykketPa" >
              <i class="glyphicon glyphicon-trash trashIkon"></i>{{skole.skole}}</p>
          </div>
          <div class="mellomrom"></div>
          <button class="col-xs-12 btn btn-primary visSkoleruteKnapp" (click)="skoleruter()"><b>Vis Skolerute</b></button>
      </div>
    </div>

<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
