<div class = 'container'>
    <form>
         <div class="form-group">
            <label for="skole">Velg Skole</label>
            <input type="text"  
                class="form-control"
                ng-model="skole"
                (keyup.enter) = "leggTilSkole(skole); skole =''"
                placeholder="Skriv inn skolenavn">
            <ul [hidden] = "skole ==''"> 
                <li *ngFor="let skole of alleSkoler | sok : skole"
                    (click) ="leggTilSkole(skole)">
                    {{skole}}
                </li>
            </ul>
            <button type="button"
                class="btn btn-default" 
                (click)="leggTilSkole(skole); skole=''" 
                id = "leggTilSkoleKnapp">Legg til skole</button>
        </div>
    </form>
</div>