       li {
            display: inline-block;

            margin: 5px;
        }
        h5 {
            font-weight: bold;
        }
        div {
            margin: 0 auto;
            padding: 5px;
        }