<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div (touchstart)="touchStart($event);" (touchend)="touchEnd($event);" (touchmove)="touchMove($event);" (touchcancel)="touchCancel($event);">

<div class="mnd"> 
  <ul>
    <a (click)="minusMnd()"> <li class="forrige"> &#10094; </li> </a>
    <a (click)="plussMnd()"> <li class="neste">  &#10095; </li> </a>
    <li>{{maanedNavn[maaned-1]}}<br>
      <span style="font-size:18px">{{aaret}}</span>
    </li>
  </ul>
</div>

<div class="kalender">
    <table *ngIf="datoer">
        <tr>
          <th>Man</th>
          <th>Tir</th>
          <th>Ons</th>
          <th>Tor</th>
          <th>Fre</th>
          <th>Lør</th>
          <th>Søn</th>
        </tr>
        <tr>
            <td *ngFor="let cell of ukeEn()">
                {{cell.text}}
                <div class="outer" *ngIf="datoerContains(cell) != null">
                  <div class="circle" *ngFor="let circle of datoerContains(cell)"></div>
                  <div class="details" *ngFor="let circle of datoerContains(cell)"> 
                    {{circle.skole}} <br>
                    {{circle.kommentar}} <br>
                    SFO: {{circle.sfodag}}
                  </div>

                </div>
            </td>            
        </tr>
        <tr>
            <td 
                *ngFor="let cell of ukeneEtter()">
                {{cell.text}}
                <div class="outer" *ngIf="datoerContains(cell) != null">
                  <div class="circle" *ngFor="let circle of datoerContains(cell)"></div>
                  <div class="details" *ngFor="let circle of datoerContains(cell)"> 
                    {{circle.skole}} <br>
                    {{circle.kommentar}} <br>
                    SFO: {{circle.sfodag}}
                  </div>

                </div>
            </td>            
        </tr>
        <tr>
            <td 
                *ngFor="let cell of ukeneEtter()">
                {{cell.text}}
                <div class="outer" *ngIf="datoerContains(cell) != null">
                  <div class="circle" *ngFor="let circle of datoerContains(cell)"></div>
                  <div class="details" *ngFor="let circle of datoerContains(cell)"> 
                    {{circle.skole}} <br>
                    {{circle.kommentar}} <br>
                    SFO: {{circle.sfodag}}
                  </div>

                </div>
            </td>            
        </tr>
        <tr>
            <td 
                *ngFor="let cell of ukeneEtter()">
                {{cell.text}}
                <div class="outer" *ngIf="datoerContains(cell) != null">
                  <div class="circle" *ngFor="let circle of datoerContains(cell)"></div>
                  <div class="details" *ngFor="let circle of datoerContains(cell)"> 
                    {{circle.skole}} <br>
                    {{circle.kommentar}} <br>
                    SFO: {{circle.sfodag}}
                  </div>

                </div>
            </td>            
        </tr>
        <tr>
            <td 
                *ngFor="let cell of ukeneEtter()">
                {{cell.text}}
                <div class="outer" *ngIf="datoerContains(cell) != null">
                  <div class="circle" *ngFor="let circle of datoerContains(cell)"></div>
                  <div class="details" *ngFor="let circle of datoerContains(cell)"> 
                    {{circle.skole}} <br>
                    {{circle.kommentar}} <br>
                    SFO: {{circle.sfodag}}
                  </div>

                </div>
            </td>            
        </tr>
    </table>
  </div>

</div>
  
</body>
</html>

<!--
<p class="kalender" [innerHtml]="kalenderen(forsteUkedag('2016-08-01' | date:'E'), 8, 2016)"></p>

<p *ngFor="let rute of valgteSkoleRuter"> {{rute.dato}} {{rute.skole}} {{rute.kommentar}} </p>
-->

<!--
<div class="kalender">
  <table width="100%" height="100%"> 
    <tr> <th> Man <th> Tir <th> Ons <th> Tor <th> Fre <th> Lør <th> Søn </tr>
    <tr style="background-color:lightblue">
      <td width="14.28%">1</td>
      <td width="14.28%">2</td>
      <td width="14.28%">3</td>
      <td width="14.28%">4</td>
      <td width="14.28%">5</td>
      <td width="14.28%">6</td>
      <td width="14.28%">7</td>
    <tr style="background-color:lightblue">
      <td width="14.28%">8</td>
      <td width="14.28%">9</td>
      <td width="14.28%">10</td>
      <td width="14.28%">11</td>
      <td width="14.28%">12</td>
      <td width="14.28%">13</td>
      <td width="14.28%">14</td>
    <tr style="background-color:lightblue">
      <td width="14.28%">15</td>
      <td width="14.28%">16</td>
      <td width="14.28%">17</td>
      <td width="14.28%">18</td>
      <td width="14.28%">19</td>
      <td width="14.28%">20</td>
      <td width="14.28%">21</td>
    <tr>
      <td width="14.28%">22</td>
      <td width="14.28%">23</td>
      <td width="14.28%">24</td>
      <td width="14.28%">25</td>
      <td width="14.28%">26</td>
      <td width="14.28%">27</td>
      <td width="14.28%">28</td>
      <tr>
        <td width="14.28%">29</td>
        <td width="14.28%">30</td>
        <td width="14.28%">31</td>
      </tr> 
    </table>
</div>
-->
<!--
{{kalenderen(forsteUkedag('2016-08-01' | date:'E'), 8, 2016)}}

<p *ngFor="let kalender of kalenderen(forsteUkedag('2016-08-01' | date:'E'), 8, 2016)">
    {{kalender}}
</p>

<p [innerHtml]="kalenderen(forsteUkedag('2016-08-01' | date:'E'), 8, 2016)"></p>

  <p> {{kalenderen(forsteUkedag('2016-08-01' | date:'E'), 8, 2016) }} </p>
<p [innerHtml]="kalenderen(forsteUkedag('2016-09-01' | date:'E'), 9, 2016)"></p>
<p [innerHtml]="kalenderen(forsteUkedag('2016-10-01' | date:'E'), 10, 2016)"></p>
<p [innerHtml]="kalenderen(forsteUkedag('2016-11-01' | date:'E'), 11, 2016)"></p>
<p [innerHtml]="kalenderen(forsteUkedag('2016-12-01' | date:'E'), 12, 2016)"></p>
<p [innerHtml]="kalenderen(forsteUkedag('2017-01-01' | date:'E'), 1, 2017)"></p>
<p [innerHtml]="kalenderen(forsteUkedag('2017-02-01' | date:'E'), 2, 2017)"></p>
<p [innerHtml]="kalenderen(forsteUkedag('2017-03-01' | date:'E'), 3, 2017)"></p>
<p [innerHtml]="kalenderen(forsteUkedag('2017-04-01' | date:'E'), 4, 2017)"></p>
<p [innerHtml]="kalenderen(forsteUkedag('2017-05-01' | date:'E'), 5, 2017)"></p>
<p [innerHtml]="kalenderen(forsteUkedag('2017-06-01' | date:'E'), 6, 2017)"></p>
-->