<div style="max-width:600px;margin-left:auto;margin-right:auto;">
    <input type="text"
            style="border-radius:0px;"
           class="form-control"
           placeholder=" Søk etter skole"
          [(ngModel)]="skolenavn" />
    <div class="list-group" >
        <p style="border-radius:0px;" class="list-group-item active">Søk etter skole for å filtrere utvalg og trykk på en skole for å legge den til i valgte skoler.
           Du kan legge til flere skoler om gangen.</p>

        <div>
          <div  *ngFor="let skole of skoler | skoleListeFilter: skolenavn"
              (click) ="leggTilSkole(skole)">
              <!-- Denne fjerner linjene for skolene som blir valgt -->
              <!--<hr *ngIf="skole.Skolenavn!=''"> -->
              <p style="border-radius:0px;"class="list-group-item" *ngIf="skole.Skolenavn!=''">
              {{skole.Skolenavn}}</p>
          </div>
      </div>
        <div>
          <h2>Valgte skoler</h2>
          <p>Trykk på skolen for å legge den tilbake eller trykk på <b>Vis skoleute</b>.</p>

          <div  *ngFor="let valgtskole of mineSkoler "
            (click) ="fjernSkole(valgtskole)">
              <p style="border-radius:0px;"class="list-group-item">{{valgtskole}} </p>
          </div>
          <button style="margin-top: 1em; "class="btn btn-primary btn-lg btn-block">Vis Skolerute</button>
      </div>
    </div>



</div>

<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
