<div class = 'container-fluid'>
        <div class="form-group">
          <label>Søk etter skole:</label>
          <input type="text"
                 class="form-control"
                [(ngModel)]="skolenavn" />
          <div class="row">
              <div class="col-xs-6 col-sm-1">
                <div class="col-xs-6 col-sm-3"*ngFor="let skole of skoler | skoleListeFilter: skolenavn"
                    (click) ="leggTilSkole(skole)">
                    <hr>
                    {{skole.Skolenavn}}
                </div>
            </div>
            <hr>
              <div class="col-xs-6 col-sm-3">
                <h3>Valgte skoler</h3>
                <div  *ngFor="let valgtskole of mineSkoler "
                  (click) ="fjernSkole(valgtskole)">
                  <hr>
                    {{valgtskole}}
                </div>
            </div>
          </div>
      </div>
</div>

<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
