<div class = 'container-fluid'>
        <div class="form-group">
          <label>Søk etter skole:</label>
          <input type="text"
                 class="form-control"
                [(ngModel)]="skolenavn" />
          <div class="row">

              <div>
                <div *ngFor="let skole of skoler | skoleListeFilter: skolenavn"
                    (click) ="leggTilSkole(skole)">
                    <hr *ngIf="skole.Skolenavn!=''">  <!-- Denne fjerner linjene for skolene som blir valgt -->
                    {{skole.Skolenavn}}
                </div>
            </div>

              <div>
                <h2>Valgte skoler</h2>
                <hr>
                <div  *ngFor="let valgtskole of mineSkoler "
                  (click) ="fjernSkole(valgtskole)">
                    {{valgtskole}}
                      <hr>
                </div>
            </div>

          </div>

          <div class="row">
            <button class="btn">Vis Skolerute</button>
          </div>

      </div>
</div>

<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
