<div class="panel panel-default">
  <div class="panel-heading ">
    <h3 class="panel-title">Neste fridag for valgte skoler</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="skolerValgt">
      <ul class="list-unstyled">
        <li *ngFor="let fridager of nesteFridager">
          <b>
            {{ fridager.dato | dato}}
            {{ fridager.skole }},
            {{ fridager.kommentar }}
          </b>
        </li>
        <div class="midten">
          <button class="btn btn-primary btn-sm" routerLink="/skoleliste" data-toggle="tab">Endre valgte skoler</button>
        </div>
      </ul>
    </div>
    <div *ngIf="!skolerValgt">
      {{feilmelding}}
      <div class="midten">
        <button class="btn btn-primary btn-sm" routerLink="/skoleliste" data-toggle="tab">Velg skole(r)</button>
      </div>
  </div>
</div>
