<div class="panel panel-default">
  <div class="panel-heading ">
    <h3 class="panel-title"> Neste fridag for valgte skoler</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="skolerValgt">
      <ul class="list-unstyled">
        <li *ngFor="let fridager of nesteFridager">
            {{ fridager.dato | dato}}
            {{ fridager.skole }},
            {{ fridager.kommentar }}
        </li>
<hr>
        <div class="midten">
          <button class="btn btn-primary btn-sm" routerLink="/skoleliste" data-toggle="tab"> 
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Endre valgte skoler</button>
        </div>
      </ul>
    </div>
    <div *ngIf="!skolerValgt">
      {{feilmelding}}
<hr>
      <div class="midten">
        <button class="btn btn-primary btn-sm" routerLink="/skoleliste" data-toggle="tab">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Velg skole(r)</button>
      </div>
    </div>
</div>
