<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Neste fridag for valgte skoler</h3>
  </div>
  <div class="panel-body">
    Tirsdag 12.08.2016: Auglend Skole, planleggingsdag (om 7 dager) <br>
    Onsdag 13.08.2016: Byfjord Skole, planleggingsdag (om 8 dager)
  </div>
</div>

<ul class="nav nav-tabs">
  <li [routerLinkActive]="['active']"><a routerLink="/skoleruter/kalender" data-toggle="tab">Kalender</a></li>
  <li [routerLinkActive]="['active']"><a routerLink="/skoleruter/liste" data-toggle="tab">Liste</a></li>
</ul>
<router-outlet></router-outlet>
            