/* for å virke med innerHtml, bruker du :host /deep/ foran tag */

ul {list-style-type: none;}

body {
    font-family: Verdana, sans-serif;
    height: 100%;
}

.kalender {height: 50vh;}

table, td, th {
    text-align: left;
    border: 1px solid black;
    vertical-align: text-top;
    padding: 5px;
}

table {
    height: 100%;
    width: 100%;
}

th {
    height: 1px;
    background-color: gray;
}

td {
    width: 14.28%;
    height: 16.6%;
}

.outer {position: absolute}

.details {
    display: none;
    background-color: gray;
    overflow: visible;
    border: 2px solid black;
    float: left;
    position: relative;
    z-index: 10;
    padding: 5px;
    font-size: 12px;
} 

div:hover > .details {display: block;}

.circle {
    border-radius: 50%;
	width: 10px;
	height: 10px; 
    background-color:red;
    float: left;
}

.mnd {
    padding: 15px 15px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.mnd ul {
    margin: 0;
    padding: 0;
}

.mnd ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 15px;
}

.mnd .forrige {
    float: left;
    padding-top: 10px;
}

.mnd .neste {
    float: right;
    padding-top: 10px;
}

/* Highlight the "current" day 
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}*/