ul {list-style-type: none;}

body {
    font-family: Verdana, sans-serif;
    height: 100%;
        cursor: default;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.kalender {height: 60vh;}

table, td, th {
    text-align: left;
    border: 1px solid black;
    vertical-align: text-top;
    padding: 5px;
    font-size: 13px;
}

table {
    height: 100%;
    width: 100%;
}

th {
    height: 6%;
    background-color: #e7e7e7;
}

td {
    width: 14.28%;
    height: 15.6%;
    position: relative;
}

.rightdet{
  right: 0px;
  left: auto;
}
.botdet{bottom: 0px; top: auto;}

.outer {
    position: absolute;
    font-size: 10px;
    }

.forklaring {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    padding: 5px 0 5px 15px;
    min-width: 150px;
}

.forklaringTekst {
    padding: 5px 15px 5px 5px;
}

.kortNavn {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
}

.details {
    display: none;
    background-color: #e7e7e7;
    overflow: visible;
    position: relative;
    z-index: 10;
    padding: 5px;
    font-size: 13px;
    float: left;
} 

div:hover > .details {display: block;}

.skoleFri {
    border-radius: 50%;
	width: 8px;
	height: 8px; 
    background-color:red;
    display: inline-block;
}

.sfoFri {
    border-radius: 50%;
	width: 8px;
	height: 8px; 
    background-color:blue;
    display: inline-block;
}

.mnd {
    padding: 10px 15px;
    width: 100%;
    height: 15.6%;
    background: #008cba;
    border: 1px solid #0079a1;
    text-align: center;
}

.mnd ul {
    margin: 0;
    padding: 0;
}

.mnd ul li {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 13px;
}

.mnd .forrige {
    float: left;
    padding-top: 10px;
}

.mnd .neste {
    float: right;
    padding-top: 10px;
}

/* Highlight the "current" day 
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}*/