<div style=" color: grey; margin-top: 10px;">
    <p style="size: 8px;">*Om det bare står en bindestrek, betyr det at den skolen har vanlig skoledag.</p>
</div>
<div>
    <ul>
        <li style = "width: 95px;"><h5 style = "margin-left: 20px; margin-right: 10px;">Dato</h5></li>
        <li style = "width: 145px; text-aligned: center;"><h5>{{this.skolenavn2}}</h5></li>
    </ul>
    <ul>
        <li><p *ngFor="let dato of datoArray">{{dato | kortDato}}</p></li>
        <li><p *ngFor="let rute2 of this.skole2"> {{rute2}} </p></li>
    </ul>
</div>